<div class="menu-container">
  <div class="card blue lighten-1">
    <h2>
      Latest Posts
    </h2>
  </div>
  {{#each allposts as |posts|}}
    <div class="row">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <div class="row">
          <span class="card-title col s8">{{posts.post_title}}</span><span class="col s4">Posted By:{{posts.username}}</span>
          </div>
          <p>{{posts.post_body}}</p>
        </div>
        <div class="card-action">
          <a href="/posts/{{posts.id}}">View Comments</a>
          <span>Created:{{posts.created_at}}</span><span>Last Updated:{{posts.updated_at}}</span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<!-- This is the form for adding a new dish -->
<div class="add-dish-container">
  <div class="card blue lighten-1">
    <h2>
    Create a new post!
    </h2>
  </div>
  <form class="new-dish-form">
    <label for="post_title">
      Title:
    </label>
    <br />
    <textarea id="post_title" name="post_title" rows="2" cols="30">
      {{post_title}}
    </textarea>
    <br />
    <label for="post_body">
      Main Body:
    </label>
    <br />
    <textarea id="post_body" name="post_body" rows="5" cols="30">
      {{post_body}}
    </textarea>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/add-post.js"></script>